/* basic stylesheet as below */
@font-face {
    font-family: "fullsans";
    src: url("fullsans-sc50book.otf");
  }

body{
    background-color: #000101;
    font-family:'fullsans','Helvetica';
}
/* svg stylesheet as below */
.st0{display:none;}
.st1{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-miterlimit:10;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-miterlimit:10;}
.st3{display:inline;}
.st4{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:5;stroke-miterlimit:10;}
.st5{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:3;stroke-miterlimit:10;}

    .st6{display:inline;opacity:0.6;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:4;stroke-miterlimit:10;}

    .st7{display:inline;opacity:0.6;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:2;stroke-miterlimit:10;}
.st8{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#675C48;stroke-width:2;stroke-miterlimit:10;}
.st9{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:#675C48;}
.st10{fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_1_);}
.st11{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.5;stroke-miterlimit:10;}
.st12{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.25;stroke-miterlimit:10;}
.st13{opacity:0.6;fill:none;stroke:#7E8083;stroke-width:0.1;stroke-miterlimit:10;}
.st14{fill:#FFFFFF;}
.st15{opacity:0.26;}
.st16{fill:#777A7A;stroke:#FFFFFF;stroke-miterlimit:10;}
.st17{fill:#A5A7AA;}
.st18{fill:none;}
.st19{opacity:0.6;fill:#D81477;}
.st20{fill-rule:evenodd;clip-rule:evenodd;fill:#F1F2F2;}
.st21{opacity:0.81;fill:#F1F2F2;}
.st22{opacity:0.81;fill:#404041;}
.st23{opacity:0.81;}
.st24{fill:#F1F2F2;}
.st25{opacity:0.51;fill:#404041;}
.st26{fill:none;stroke:#A5A7AA;stroke-width:0.25;stroke-miterlimit:10;}
.st27{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#E40F71;stroke-width:2;stroke-miterlimit:10;}
.st28{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#EF7C31;stroke-width:2;stroke-miterlimit:10;}
.st29{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#AA3C63;stroke-width:2;stroke-miterlimit:10;}
.st30{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#C49A6B;stroke-width:2;stroke-miterlimit:10;}
.st31{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st32{opacity:0.81;fill:#00957F;}
.st33{opacity:0.81;fill:#F1AF1F;}
.st34{opacity:0.81;fill:#D81471;}
.st35{opacity:0.81;fill:#A69376;}
.st36{opacity:0.81;fill:#7465A1;}
.st37{fill:none;stroke:#606060;stroke-width:1.5;stroke-miterlimit:10;}
.st38{opacity:0.81;fill:none;}
.st39{fill:none;stroke:#E40F71;stroke-width:2;stroke-miterlimit:10;}
.st40{fill:none;stroke:#AA3C63;stroke-width:2;stroke-miterlimit:10;}
.st41{fill:none;stroke:#F4CFCE;stroke-width:2;stroke-miterlimit:10;}
.st42{fill:none;stroke:#DC2B4A;stroke-width:2;stroke-miterlimit:10;}
.st43{display:inline;fill:none;}
.st44{display:inline;opacity:0.6;fill:#A69376;stroke:#675C48;stroke-miterlimit:10;}
.st45{display:inline;opacity:0.6;fill:#A69376;}
.st46{display:inline;opacity:0.6;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st47{fill:#000101;}
.st48{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st49{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#8A5D3B;stroke-width:2;stroke-miterlimit:10;}
.st50{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#91268F;stroke-width:2;stroke-miterlimit:10;}
.st51{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#D7E7B0;stroke-width:2;stroke-miterlimit:10;}
.st52{opacity:0.81;fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#00957F;stroke-width:2;stroke-miterlimit:10;}
.st53{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#55348B;stroke-width:2;stroke-miterlimit:10;}
.st54{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#F4CFCE;stroke-width:2;stroke-miterlimit:10;}
.st55{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFF68D;stroke-width:2;stroke-miterlimit:10;}
.st56{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#FFDA39;stroke-width:2;stroke-miterlimit:10;}
.st57{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#DC2B4A;stroke-width:2;stroke-miterlimit:10;}
.st58{fill:#D2816D;}
.st59{display:inline;opacity:0.2;}
.st60{font-family:'Helvetica-Bold';}
.st61{font-size:6.5058px;}
.st62{display:inline;opacity:0.2;fill:#FFFFFF;}
.st63{font-size:6.524px;}
.st64{opacity:0.81;fill:#F0934B;}
.st65{opacity:0.81;fill:#72A366;}
.st66{opacity:0.81;fill:#0098B5;}
.st67{fill:none;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;}
.st68{fill:#3C3B3D;}
.st69{fill:#CCA5CD;}
.st70{fill:#F1AF1F;}
.st71{fill:#F3705C;}
.st72{fill:#7FA890;}
.st73{fill:#6DCCE1;}
.st74{fill:#7170A8;}
.st75{fill:#D994B1;}
.st76{opacity:0.91;}
.st77{fill:#FCF5A3;}
.st78{opacity:0.81;fill:#82CBEA;}
.st79{opacity:0.81;fill:#FCF5A3;}
.st80{opacity:0.81;fill:#F28320;}
.st81{opacity:0.61;fill:#EE2C40;}
.st82{opacity:0.61;fill:#D81471;}
.st83{opacity:0.81;fill:#B399C9;}
.st84{opacity:0.81;fill:#E5482C;}
.st85{opacity:0.61;fill:#F28320;}
.st86{opacity:0.61;fill:#7F3482;}
.st87{opacity:0.61;fill:#A09BBA;}
.st88{opacity:0.6;fill:#00B3E2;}
.st89{opacity:0.81;fill:#0586C4;}
.st90{opacity:0.81;fill:#EE99B5;}
.st91{opacity:0.81;fill:#006B37;}
.st92{opacity:0.61;fill:#ADC56C;}
.st93{opacity:0.61;fill:#4B8F41;}
.st94{opacity:0.81;fill:#E8253D;}
.st95{opacity:0.61;fill:#F47D42;}
.st96{opacity:0.61;fill:#0E86C8;}
.st97{opacity:0.81;fill:#9BCDE0;}
.st98{opacity:0.61;fill:#0A5C2F;}
.st99{opacity:0.61;fill:#00B3E2;}
.st100{opacity:0.61;}
.st101{opacity:0.81;fill:#ED327F;}
.st102{display:inline;fill:#FED5B3;}
.st103{display:inline;opacity:0.6;fill:#FED5B3;}
.st104{display:inline;fill:none;stroke:#00957F;stroke-width:0.75;stroke-miterlimit:10;}
.st105{fill:#B5B7B7;}
.st106{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st107{font-size:12.3743px;}
.st108{opacity:0.61;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.st109{opacity:0.61;fill:#FFFFFF;}
.st110{opacity:0.61;fill:#B5B7B7;}
.st111{fill:#CECCC9;}
.st112{fill:#F9F5F1;}
.st113{fill:#959898;}
.st114{fill:#E18776;}
.st115{fill:#A06555;}
.st116{fill:#D25959;}
.st117{fill:#BD2F2E;}
.st118{fill:#754F3B;}
.st119{fill:#CF4142;}
.st120{fill:#C6C6C7;}
.st121{fill:#8A5D48;}
.st122{fill:#D1836C;}
.st123{fill:#B5B7B7;stroke:#95979A;stroke-width:0.5;stroke-miterlimit:10;}
.st124{opacity:0.6;fill:#B5B7B7;}
.st125{fill:none;stroke:#949696;stroke-width:0.5;stroke-miterlimit:10;}
.st126{opacity:0.61;fill:#A4A6A6;}
.st127{opacity:0.61;fill:#B5B7B7;stroke:#95979A;stroke-width:0.5;stroke-miterlimit:10;}
.st128{fill:none;stroke:#F1F2F2;stroke-miterlimit:10;}
.st129{}
.st130{font-size:9px;}